[Unit]
Description=Frigate Object Events
StartLimitIntervalSec=5
Documentation=https://github.com/clinta/frigate-object-events

[Service]
Type=exec

ExecStart=/usr/local/bin/frigate-object-events -username <username> -password <password>

# Restart script if stopped
Restart=always
# Wait 30s before restart
RestartSec=30s

[Install]
WantedBy=multi-user.target
